body {
    border: 5px solid black;
    font-family: Arial, sans-serif;
    font-size: 13.4px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

#quicklinks {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(177, 176, 176);
    overflow: hidden;
    background-color: rgb(216, 213, 213);
}

#quicklinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#quicklinks li {
    flex: 1;
    text-align: center;
}

#quicklinks li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

#quicklinks li a:hover {
    background-color: white;
}


#logo img {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid rgb(105, 105, 105);
}

#logo {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0;
    border: none;
    margin-left: 0;
}

#informacioncontenedora {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.seccion {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion h2 {
    color: #333;
    text-align: center;
    width: 100%;
}

.seccion p {
    color: #333;
    font-size: 16px;
    text-align: left;
    width: 100%;
}

.seccion img {
    width: 100%;
    height: auto;
    max-width: 150px; /* Ajustar el tamaño máximo de las imágenes */
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}

.add-to-cart {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.add-to-cart:hover {
    background-color: #c82333;
}

.acerca-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.acerca-info h2 {
    color: #333;
    text-align: center;
}

.acerca-info p {
    color: #333;
    font-size: 16px;
    text-align: left;
}

.acerca-info ul {
    list-style-type: disc;
    padding-left: 20px;
}